apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "axiom-operator.fullname" . }}-manager-role
  labels:
  {{- include "axiom-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - create
      - get
      - list
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - axiom.dana.io
    resources:
      - clusterinfoes
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - axiom.dana.io
    resources:
      - clusterinfoes/finalizers
    verbs:
      - update
  - apiGroups:
      - axiom.dana.io
    resources:
      - clusterinfoes/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - axiom.dana.io
    resources:
      - clusterversions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - config.openshift.io
    resources:
      - clusterversions
      - oauths
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - nmstate.io
    resources:
      - nodenetworkconfigurationpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - route.openshift.io
    resources:
      - routes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "axiom-operator.fullname" . }}-manager-rolebinding
  labels:
  {{- include "axiom-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "axiom-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "axiom-operator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
